
.head{
    background-color:white;
    color:black;
    height:100px;
    border-bottom: 2px solid rgb(238, 174, 235);
    overflow:hidden;
    position:fixed;

   

}
a:hover, a:active{
    color:rgb(236, 156, 196);
    text-decoration: none;
   
}
.container{
    margin:0;
    padding:0;
    max-width:100%
}
.bakeryimage{
    width:100%;
    padding:60px;
    height:650px;
    background: #f0f0f0;
}

.menu-spacer{
    flex: 1 1 auto;
}

.links{
    margin-top:45px;
    margin-right:50px;
}
a{
    font-size: medium;
}
.imagecontainer
{
    height: 278%;
    width: 20%;
    margin-top: 28px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: x-large;
    margin-top: 168px;
    border-bottom:Solid;
    
}
.description{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: large;
    margin-top: 268px;
    
}
#contact{
    background-color:#d9a0c4;
}
.heading{
    text-align:Center;
    margin-top:15px;
    
}
.contact{
    border-style: ridge;
    padding:20px;
    margin-top: 46px;
    background: #f5e3e1;
  
}
.bakery-details{
    padding:150px 80px 0;
    
}
.bakeryimage{
    width:100%;
    height: 644px;
    background-color:white;
    border: 2px dotted rgb(236, 156, 196);;
    padding:20px;
}
.row{
    padding-left:200px;
    margin-top: 46px;
}


